/* *星字號 -> 包含全元素*/
*{
    box-sizing : border-box;    /*全元素的方塊模型做調整*/
    text-decoration : none !important;
    color : black;
}

body{
    background-color : whitesmoke;
    margin : 0;
}

header{
    background-color : rgba(12, 109, 206, 0.875);
    padding : 5px 40px;
}

h1{
    width : 20%;
}

h1>a{
    color : skyblue;
    text-decoration : none;
}

#pagetop{
    position : fixed;    /*固定定位*/
    right : 20px;    /*右邊界*/
    bottom : 20px;     /*下邊界*/

    display : block;    /*顯示為塊級元素*/

    background-color : grey;
    color : white;

    width : 80px;    /*寬度*/
    height : 80px;    /*高度*/
    line-height : 80px;    /*行高*/

    text-align : center;    /*文字字中*/

    text-decoration : none;    /*移除底線*/

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    /*文字字型*/

    border-radius : 50%;    /*圓角*/

    z-index: 1;    /*顯示在最上層*/
}

nav{
    width : 60%;
}

nav>ul{
    list-style-type: none;
    padding : 0;
}

nav>ul>li{
    width : 20%;
    line-height : 40px;
    background-color : none;
    text-align : center;
}

nav>ul>li>a{
    line-height: 40px;
    background-color: none;
    display: block;
    text-decoration: none;
    color: whitesmoke;
}

.socia-icon{
    width : 20%;
}

.socia-icon>a>i {
    line-height: 40px;
    font-size: 40px;
    margin-left: 5%;
}

.icon-facebook{ color:#4267B2; }
.icon-line{color: #06c755;}
.icon-instagram{ color:#E1306C;}
.icon-tooth{ color : whitesmoke}

.container{
    max-width : 1170px;
    width : 100%;
    padding:0%;
    margin : auto;    /*區塊置中*/
}

.clearfix::after{
    content : "";
    clear : both;
    display : block;    /*轉為塊級元素*/
}

.float-left{
    float : left;
}

.float-right{
    float : right;
}

/*
.box{
    width : 25%;    100/4
    background-color : darkblue;
    height : 200px;
    border : 1px solid black;
    padding : 10px;
}
*/

footer {
    background-color: rgba(12, 109, 206, 0.875);
}

footer div {
    text-align: center;
}

footer div ul li a i {
    color: whitesmoke;
}

footer div ul li a {
    color: whitesmoke;
}
footer div ul li {
    color: whitesmoke;
}

/*自訂義方塊模型*/
/*
header{
    background-color : green;
    width : 50%;    寬度
    height : 300px;    高度
    padding : 40px;    內邊界
    margin : 40px;    外邊界
    border : 5px solid black;    邊框 : 線條粗細 線條類型 顏色
}

footer{
    background-color : orange;
    width : 100px;
    padding : 10px;    padding : 上 右 下 左;
    margin : 10px;
    border : 1px solid black;    邊框 : 線條粗細 線條類型 顏色
}
*/

/*===========================================*/
/*                      商品                 */
/*==========================================*/
.product{
    width : 33.3333%;
    padding : 10px;
    border : 1px;
}
.product p{
    text-decoration : none;
    color : black;
}

.product a{
    text-decoration : none;
    color : black;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px 5px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.dropdown-menu li:hover {
    background-color: rgb(32, 161, 241);
}

.dropdown-menu a:hover {
    color: white;
}

.bg-light{
    background-color:1px solid #f6f6f6;
    padding : 10px 0px;
}

.bg-texture{
    background-image: url('../圖片/底紋.png');
}

.bg-image{
    background-image: url('../圖片/牙科診所大圖4.jpg');
    background-attachment: fixed;
    line-height: 600px;
    color : darkgray;
    font-size : 40px;
    text-align: center;
}

.breadcrumb{
    padding : 0px;
    margin : 0px;
    list-style-type: none;
}

.breadcrumb a{
    color : gray;
    text-decoration: none;
}

.breadcrumb>li+li::before{
    content : "\00a0>\00a0";
}

/*=============================================*/
/*                  欄位數                      */
/*==============================================*/

/*單欄*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding : 10px;
}
.col-1{width : 8.333333333%;}
.col-2{width : 16.66666667%;}
.col-3{width : 25%;}
.col-4{width : 33.33333333%;}
.col-5{width : 41.66666667%;}
.col-6{width : 50%;}
.col-7{width : 58.33333333%;}
.col-8{width : 66.66666667%;}
.col-9{width : 75%;}
.col-10{width : 83.333333333%;}
.col-11{width : 91.66666667%;}
.col-12{width : 100%;}

/*當視窗小於等於767時執行*/
@media (max-width : 797px){
    .col-3, .col-4{width : 50%}
    .btn-order:hover{display : none}
    .socia-icon{display : none}
}
/*當視窗小於等於767時執行*/

.product img{
    width : 100%;
}

/*==========================================*/
/*                 側邊欄                   */
/*==========================================*/
.sidebar{
    padding : 0;
    margin : 0;
    list-style-type: none;
}

.sidebar a{
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    /*
    line-height: 40px;
    text-decoration: none;
    color : black;
    display: block;
    background-color: lightgray;
    border-left: 3px solid orange;
    font-size : 18px;
    letter-spacing : 0.5px;
    */
}
/* .sidebar a.active{
    border-left : 5px solid orange;
} */

.sidebar a:hover{
    background-color : white;
    border-left : 5px solid orange;
}

/*================================================*/
/*                  商品                          */
/*================================================*/




/*=========================================*/
/*                    表格                 */
/*=========================================*/

table{
    border-collapse : 1px solid none;
    width : 100%;
    margin-bottom : 100px;
}

th{
    background-color : none;
    color : black;
}

th, td{
    border : 1px solid none;
    padding : 10px;
    text-align: center;
}

/* tr:nth-child(odd){
    background-color: bisque;
} */

/* tr:hover{
    background-color: darkorange;
} */

/*==========================================*/
/*                 表單                     */
/*==========================================*/

input[type = "text"], input[type = "email"], input[type = "file"], input[type = "data"], select, textarea{
    width : 100%;
    border : 1px solid lightgray;
    margin-bottom : 20px;
    padding : 10px;
    margin-top : 8px;
    border-radius : 4px;
}

input[type = "submit"]{
    padding : 10px;
    border : none;
    background-color: grey;
    color : white;
    border-radius : 4px;
    width : 200px;
    cursor : pointer;
}

.mb-1{
    margin-bottom : 10px;
}

.mb-2{
    margin-bottom : 20px;
}

.mb-3{
    margin-bottom : 30px;
}

.mb-4{
    margin-bottom : 140px;
}

.mb-5{
    margin-bottom : 50px;
}

.text-center{
    text-align: center;
}


.text-left{
    text-align: right;
}

.tag{
    background-color: #3498db; /* 背景顏色 */
    color : white;
    width: 80px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    border-radius: 15px; /* 圓角半徑 */
    top : 0px;
    right : 0px;
}

.iframe{
    vertical-align: top;
}

.position-relative{
    position : relative;    /*相對定位*/
}

.position-absolute{
    position : absolute;    /*絕對定位*/
}

.position-sticky{
    position : sticky;
    top : 0px;
}

.position-fixed{
    position : fixed;
}

.btn-order{
    width : 150px;
    line-height: 80px;
    right : 0;
    top : 50%;
    margin-top : -40px;
    color : white;
    text-align: center;
    font-size : 14px;
    transition : all 0.2s;
    box-shadow : 0 0 4px black;
}

.btn-order:hover {
    width : 180px;
    background : rgb(255, 85, 0) !important;
    transition : all 1s;
}

.box-shadow{
    box-shadow : rgb(50, 50, 93, 0.25) 0px 2px 5px -1px;
}

.border-radius{
    border-radius : 8px;
}

.overflow-hidden{
    overflow : hidden;
}

.title{
    padding : 0 10px;
}

.w-100{
    width: 100%;
}

/*========================================*/
/*                  影片                   */
/*=========================================*/

.video-container { 
    position: relative; 
    width: 100%; 
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}